@media screen and (min-width: 320px) and (max-width: 480px) {

    .container::before,
    .container::after {
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      width: 2px; 
      background-color: #565C45;
    }
    
    .container::before {
      left: 5px; 
    }
    
    .container::after {
      right: 5px; 
    }

    .header__logo {
        margin-right: 0;
    }
    
    .header__container {
      padding: 0;
    }

    .nav__list {
        display: none;
        flex-direction: column;
        width: 40%;
        background-color: #F0ECE6;
        position: absolute;
        top: 84px; 
        right:30px;
        padding: 0;
    }
    .nav__text {
        border-bottom: 1px solid #CCC;
        width: 100%;
        text-align: left;
        padding: 16px;
    }
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .nav__right {
        display: none;
    }
    .burger-menu {
        display: flex;
    }
    .nav__list.active {
        display: flex;
        z-index: 1000;
    }
    .submenu, .inner-submenu {
        position: static;
    }

    /* .inner-submenu {
        
    } */

    .submenu-pyjamas {
        height: 200px;
    }

    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: flex;
        align-items: center;
    }

    /* catalog */

    .catalog__container {
        background-size: cover;
        background-image: url(../img/media-catalog-bg.png);
    }

    .catalog__title {
        padding: 170px 10px;
        flex-direction: column;
        align-items: center;
    }

    .catalog__btn {
        width: 300px;
    }

    .catalog__btn:first-child {
        margin-bottom: 10px;
    }

    .cosmetics__title {
        font-size: 24px;
    }

    .cosmetics__descr {
        margin-top: 50px;
        font-size: 20px;
    }

    .sun {
        width: 160px;
        height: 147px;
        top: 1%;
        left: 50%;
    }

    .star {
        top: 90%;
        left: 36%;
        width: 21px;
        height: 26px;
    }

    .star2 {
        top: 78%;
        left: 36%;
        width: 46px;
        height: 57px;
    }

    .star3 {
        top: 20%;
        right: 41%;
    }

    .star4 {
        top: 25%;
        right: 1%;
    }

    .moon {
        width: 160px;
        height: 170px;
        top: 60%;
        right: 50%;
    }

    /* cards */

    .cards__text {
        flex-direction: column;
    }

    .cards__title {
        font-size: 16px;
    }

    .filters {
        font-size: 16px;
        width: 300px;
    }

    .cards-container {
        gap: 10px;
        padding: 68px 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card__title {
        font-size: 16px;
        width: 155px;
    }

    .price {
        font-size: 20px;
    }

    .card__btn {
        font-size: 15px;
        padding: 5px 20px;
        margin-bottom: 20px;
    }

    .card__pic {
        width: 150px;
        height: 178px;
    }

    /* footer */

    .footer-container {
        background-position: center;
    }

    .footer__title {
        font-size: 60px;
    }

    .contact__info {
        flex-direction: column;
    }

    .footer__text {
        width: 240px;
    }

    .contact__info {
        padding-bottom: 70px;
    }

    .contact__item p {
        margin-bottom: 50px;
    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .container::before,
    .container::after {
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      width: 2px; 
      background-color: #565C45;
    }
    
    .container::before {
      left: 20px; 
    }
    
    .container::after {
      right: 20px; 
    }

    .header__logo {
        margin-right: 0;
    }
    
    .header__container {
      padding: 0;
    }

    .nav__list {
        display: none;
        flex-direction: column;
        width: 40%;
        background-color: #F0ECE6;
        position: absolute;
        top: 84px; 
        right:30px;
        padding: 0;
    }
    .nav__text {
        border-bottom: 1px solid #CCC;
        width: 100%;
        text-align: left;
        padding: 16px;
    }
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .nav__right {
        display: none;
    }
    .burger-menu {
        display: flex;
    }
    .nav__list.active {
        display: flex;
        z-index: 1000;
    }
    .submenu, .inner-submenu {
        position: static;
    }

    /* .inner-submenu {
        
    } */

    .submenu-pyjamas {
        height: 200px;
    }

    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: flex;
        align-items: center;
    }

    /* catalog */

    .catalog__container {
        background-size: cover;
        background-image: url(../img/media-catalog-bg.png);
    }

    .catalog__title {
        padding: 170px 10px;
        flex-direction: column;
        align-items: center;
    }

    .catalog__btn {
        width: 300px;
    }

    .catalog__btn:first-child {
        margin-bottom: 10px;
    }

    .cosmetics__title {
        font-size: 24px;
    }

    .cosmetics__descr {
        margin-top: 50px;
        font-size: 20px;
    }

    .sun {
        width: 160px;
        height: 147px;
        top: 1%;
        left: 50%;
    }

    .star {
        top: 90%;
        left: 36%;
        width: 21px;
        height: 26px;
    }

    .star2 {
        top: 78%;
        left: 36%;
        width: 46px;
        height: 57px;
    }

    .star3 {
        top: 20%;
        right: 41%;
    }

    .star4 {
        top: 25%;
        right: 1%;
    }

    .moon {
        width: 160px;
        height: 170px;
        top: 60%;
        right: 70%;
    }

    /* cards */

    .cards__text {
        flex-direction: column;
    }

    .cards__title {
        font-size: 16px;
    }

    .filters {
        font-size: 16px;
        width: 300px;
    }

    .cards-container {
        gap: 10px;
        padding: 68px 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card__title {
        font-size: 16px;
        width: 155px;
    }

    .price {
        font-size: 20px;
    }

    .card__btn {
        font-size: 15px;
        padding: 5px 20px;
        margin-bottom: 20px;
    }

    .card__pic {
        width: 150px;
        height: 178px;
    }

    /* footer */

    .footer-container {
        background-position: center;
    }

    .footer__title {
        font-size: 60px;
    }

    .contact__info {
        flex-direction: column;
    }

    .footer__text {
        width: 240px;
    }

    .contact__info {
        padding-bottom: 70px;
    }

    .contact__item p {
        margin-bottom: 50px;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .container::before,
    .container::after {
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      width: 2px; 
      background-color: #565C45;
    }
    
    .container::before {
      left: 20px; 
    }
    
    .container::after {
      right: 20px; 
    }

    .header__logo {
        margin-right: 0;
    }
    
    .header__container {
      padding: 0;
    }

    .nav__list {
        display: none;
        flex-direction: column;
        width: 40%;
        background-color: #F0ECE6;
        position: absolute;
        top: 84px; 
        right:30px;
        padding: 0;
    }
    .nav__text {
        border-bottom: 1px solid #CCC;
        width: 100%;
        text-align: left;
        padding: 16px;
    }
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
    }
    .nav__right {
        display: none;
    }
    .burger-menu {
        display: flex;
    }
    .nav__list.active {
        display: flex;
        z-index: 1000;
    }
    .submenu, .inner-submenu {
        position: static;
    }

    /* .inner-submenu {
        
    } */

    .submenu-pyjamas {
        height: 200px;
    }

    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: flex;
        align-items: center;
    }

    /* catalog */

    .catalog__container {
        background-size: cover;
        background-image: url(../img/media-catalog-bg.png);
    }

    .catalog__title {
        padding: 170px 10px;
        flex-direction: column;
        align-items: center;
    }

    .catalog__btn {
        width: 300px;
    }

    .catalog__btn:first-child {
        margin-bottom: 10px;
    }

    .cosmetics__title {
        font-size: 24px;
    }

    .cosmetics__descr {
        margin-top: 50px;
        font-size: 20px;
    }

    .sun {
        width: 160px;
        height: 147px;
        top: 1%;
        left: 80%;
    }

    .star {
        top: 90%;
        left: 36%;
        width: 21px;
        height: 26px;
    }

    .star2 {
        top: 78%;
        left: 36%;
        width: 46px;
        height: 57px;
    }

    .star3 {
        top: 20%;
        right: 15%;
    }

    .star4 {
        top: 25%;
        right: 1%;
    }

    .moon {
        width: 160px;
        height: 170px;
        top: 60%;
        right: 70%;
    }

    /* cards */

    .cards__text {
        flex-direction: column;
    }

    .cards__title {
        font-size: 16px;
    }

    .filters {
        font-size: 16px;
        width: 300px;
    }

    .cards-container {
        padding: 68px 25px;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .card__title {
        font-size: 18px;
        width: 155px;
    }

    .price {
        font-size: 22px;
    }

    .card__btn {
        font-size: 16px;
        padding: 10px 45px;
        margin-bottom: 20px;
    }

    .card__pic {
        width: 200px;
        height: 270px;
    }


    /* footer */

    .footer-container {
        background-position: center;
    }

    .footer__title {
        font-size: 60px;
    }

    .contact__info {
        flex-direction: column;
    }

    .footer__text {
        width: 240px;
    }

    .contact__info {
        padding-bottom: 70px;
    }

    .contact__item p {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .container::before,
    .container::after {
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      width: 2px; 
      background-color: #565C45;
    }
    
    .container::before {
      left: 20px; 
    }
    
    .container::after {
      right: 20px; 
    }

    .nav {
        padding: 15px 30px;
    }

    .header__logo {
        margin-right: 20px;
    }
    
    .header__container {
      padding: 0;
    }

    .nav__list {
        width: 65%;
    }

    .nav__right {
        margin-left: 20px;
    }

    /* .inner-submenu {
        
    } */

    .submenu-pyjamas {
        height: 200px;
    }

     /* catalog */

     .catalog__container {
        background-size: cover;
    }

    .catalog__title {
        padding: 170px 150px;
        align-items: center;
    }

    .catalog__btn {
        width: 300px;
    }

    .catalog__btn:first-child {
        margin-bottom: 10px;
    }

    .cosmetics__title {
        font-size: 24px;
    }

    .cosmetics__descr {
        margin-top: 50px;
        font-size: 20px;
    }

    .sun {
        width: 160px;
        height: 170px;
        top: 1%;
        left: 80%;
    }

    .star {
        top: 90%;
        left: 20%;
        width: 21px;
        height: 26px;
    }

    .star2 {
        top: 78%;
        left: 14%;
        width: 46px;
        height: 57px;
    }

    .star3 {
        top: 20%;
        right: 15%;
    }

    .star4 {
        top: 25%;
        right: 1%;
    }

    .moon {
        width: 160px;
        height: 170px;
        top: 60%;
        right: 82%;
    }

    /* cards */

    .cards-container {
        justify-content: space-between;
        padding: 68px 45px;
        flex-wrap: wrap;
    }

    .card__title {
        font-size: 20px;
        width: 100%;
    }

    .price {
        font-size: 24px;
    }

    .card__btn {
        font-size: 16px;
        padding: 15px 55px;
        margin-bottom: 20px;
    }

    .card__pic {
        width: 220px;
        height: 310px;
    }


    /* footer */

    .footer-container {
        background-position: center;
    }

    .footer__title {
        font-size: 60px;
    }

    .footer__text {
        width: 500px;
    }

    .contact__info {
        padding-bottom: 70px;
    }

    .contact__item p {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1600px) {

    .container::before,
    .container::after {
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      width: 2px; 
      background-color: #565C45;
    }
    
    .container::before {
      left: 20px; 
    }
    
    .container::after {
      right: 20px; 
    }

    .nav {
        padding: 15px 30px;
    }

    .header__logo {
        margin-right: 20px;
    }
    
    .header__container {
      padding: 0;
    }

    .nav__list {
        width: 65%;
    }

    .nav__right {
        margin-left: 20px;
    }

    /* .inner-submenu {
        
    } */

    .submenu-pyjamas {
        height: 200px;
    }

     /* catalog */

     .catalog__container {
        background-size: cover;
    }

    .catalog__title {
        padding: 170px 150px;
        align-items: center;
    }

    .catalog__btn {
        width: 300px;
    }

    .catalog__btn:first-child {
        margin-bottom: 10px;
    }

    .cosmetics__title {
        font-size: 24px;
    }

    .cosmetics__descr {
        margin-top: 50px;
        font-size: 20px;
    }

    .sun {
        width: 160px;
        height: 170px;
        top: 1%;
        left: 80%;
    }

    .star {
        top: 90%;
        left: 20%;
        width: 21px;
        height: 26px;
    }

    .star2 {
        top: 78%;
        left: 14%;
        width: 46px;
        height: 57px;
    }

    .star3 {
        top: 20%;
        right: 15%;
    }

    .star4 {
        top: 25%;
        right: 1%;
    }

    .moon {
        width: 160px;
        height: 170px;
        top: 60%;
        right: 82%;
    }

    /* cards */

    .cards-container {
        padding: 68px 45px;
        flex-wrap: wrap;
    }

    .card__title {
        font-size: 20px;
        width: 100%;
    }

    .price {
        font-size: 24px;
    }

    .card__btn {
        font-size: 16px;
        padding: 15px 55px;
        margin-bottom: 20px;
    }

    .card__pic {
        width: 220px;
        height: 310px;
    }

    /* footer */

    .footer-container {
        background-position: center;
    }

    .footer__title {
        font-size: 60px;
    }

    .footer__text {
        width: 500px;
    }

    .contact__info {
        padding-bottom: 70px;
    }

    .contact__item p {
        margin-bottom: 50px;
    }
}