@media screen and (min-width: 320px) and (max-width: 480px) {

    .container::before,
    .container::after {
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      width: 2px; 
      background-color: #565C45;
    }
    
    .container::before {
      left: 5px; 
    }
    
    .container::after {
      right: 5px; 
    }

    .header__logo {
        margin-right: 0;
    }
    
    .header__container {
      padding: 0;
    }

    .nav__list {
        display: none;
        flex-direction: column;
        width: 40%;
        background-color: #F0ECE6;
        position: absolute;
        top: 84px; 
        right:30px;
        padding: 0;
    }
    .nav__text {
        border-bottom: 1px solid #CCC;
        width: 100%;
        text-align: left;
        padding: 16px;
    }
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .nav__right {
        display: none;
    }
    .burger-menu {
        display: flex;
    }
    .nav__list.active {
        display: flex;
    }
    .submenu, .inner-submenu {
        position: static;
    }

    /* .inner-submenu {
        
    } */

    .submenu-pyjamas {
        height: 200px;
    }

    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: flex;
        align-items: center;
    }


    /* slogan */

    .slogan-container {
        background-position: center center;
        padding: 100px 0;
    }

    .slogan__title {
        font-size: 24px;
        line-height: 2;
        width: 90%;
    }

    .slogan__btns {
        flex-direction: column;
        padding: 0;
    }

    .catalog__link {
        width: 280px;
    }

    /* about */

    .line-container {
        width: 100%;
    }

    .about-container {
        flex-direction: column;
    }

    .about__left {
        align-items: center;
    }

    .about__title {
        font-size: 60px;
        padding: 0;
    }

    .line-with-circle {
        width: 330px;
    }

    .about__text {
        font-size: 20px;
        width: 305px;
    }

    .italic {
        font-size: 20px;
    }

    .about-text {
        width: 305px;
    }

    .about-pic {
        width: 400px;
    }

    .about__left {
        margin-bottom: 20px;
    }

    /* cards */

    .cards-container {
        padding: 68px 45px;
        flex-wrap: wrap;
    }

    .card__title {
        font-size: 16px;
        width: 155px;
    }

    .price {
        font-size: 20px;
    }

    .card__btn {
        font-size: 15px;
        padding: 5px 25px;
        margin-bottom: 20px;
    }

    .card__pic {
        width: 155px;
        height: 178px;
    }

    /* show */

    .show-container {
        padding: 0;
        flex-direction: column;
    }

    .show__btn {
        font-size: 15px;
        padding: 10px 50px;
        margin-bottom: 20px;
    }

    /* feedback */

    .feedback-container {
        padding: 0;
    }

    .feedback__title {
        font-size: 64px;
    }

    .line-with-circles {
        width: 60%;
    }

    .slider-container {
        padding: 0 50px;
    }


    /* footer */

    .footer-container {
        background-position: center;
    }

    .footer__title {
        font-size: 60px;
    }

    .contact__info {
        flex-direction: column;
    }

    .footer__text {
        width: 240px;
    }

    .contact__info {
        padding-bottom: 70px;
    }

    .contact__item p {
        margin-bottom: 50px;
    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .container::before,
    .container::after {
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      width: 2px; 
      background-color: #565C45;
    }
    
    .container::before {
      left: 20px; 
    }
    
    .container::after {
      right: 20px; 
    }

    .header__logo {
        margin-right: 0;
    }
    
    .header__container {
      padding: 0;
    }

    .nav__list {
        display: none;
        flex-direction: column;
        width: 40%;
        background-color: #F0ECE6;
        position: absolute;
        top: 84px; 
        right:30px;
        padding: 0;
    }
    .nav__text {
        border-bottom: 1px solid #CCC;
        width: 100%;
        text-align: left;
        padding: 16px;
    }
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
    }
    .nav__right {
        display: none;
    }
    .burger-menu {
        display: flex;
    }
    .nav__list.active {
        display: flex;
    }
    .submenu, .inner-submenu {
        position: static;
    }

    /* .inner-submenu {
        
    } */

    .submenu-pyjamas {
        height: 200px;
    }

    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: flex;
        align-items: center;
    }


    /* slogan */

    .slogan-container {
        background-position: center center;
        padding: 100px 0;
    }

    .slogan__title {
        font-size: 24px;
        line-height: 2;
        width: 90%;
    }

    .slogan__btns {
        flex-direction: column;
        padding: 0;
    }

    .catalog__link {
        width: 280px;
    }

    /* about */

    .line-container {
        width: 100%;
    }

    .about-container {
        flex-direction: column;
    }

    .about__left {
        align-items: center;
    }

    .about__title {
        font-size: 64px;
        padding: 0;
    }

    .line-with-circle {
        width: 350px;
    }

    .about__text {
        font-size: 22px;
        width: 80%px;
    }

    .italic {
        font-size: 20px;
    }

    .about-text {
        width: 80%;
    }

    .about-pic {
        width: 80%;
    }

    .about__left {
        margin-bottom: 20px;
    }

    /* cards */

    .cards-container {
        padding: 68px 45px;
        flex-wrap: wrap;
    }

    .card__title {
        font-size: 16px;
        width: 155px;
    }

    .price {
        font-size: 20px;
    }

    .card__btn {
        font-size: 15px;
        padding: 5px 25px;
        margin-bottom: 20px;
    }

    .card__pic {
        width: 155px;
        height: 178px;
    }

    /* show */

    .show-container {
        padding: 0;
        flex-direction: column;
    }

    .show__btn {
        font-size: 15px;
        padding: 10px 50px;
        margin-bottom: 20px;
    }

    /* feedback */

    .feedback-container {
        padding-top: 64px;
    }

    .feedback__title {
        font-size: 64px;
    }

    .line-with-circles {
        width: 60%;
    }

    .slider-container {
        padding: 0 50px;
    }


    /* footer */

    .footer-container {
        background-position: center;
    }

    .footer__title {
        font-size: 60px;
    }

    .contact__info {
        flex-direction: column;
    }

    .footer__text {
        width: 240px;
    }

    .contact__info {
        padding-bottom: 70px;
    }

    .contact__item p {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .container::before,
    .container::after {
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      width: 2px; 
      background-color: #565C45;
    }
    
    .container::before {
      left: 20px; 
    }
    
    .container::after {
      right: 20px; 
    }

    .header__logo {
        margin-right: 0;
    }
    
    .header__container {
      padding: 0;
    }

    .nav__list {
        display: none;
        flex-direction: column;
        width: 40%;
        background-color: #F0ECE6;
        position: absolute;
        top: 84px; 
        right:30px;
        padding: 0;
    }
    .nav__text {
        border-bottom: 1px solid #CCC;
        width: 100%;
        text-align: left;
        padding: 16px;
    }
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
    }
    .nav__right {
        display: none;
    }
    .burger-menu {
        display: flex;
    }
    .nav__list.active {
        display: flex;
    }
    .submenu, .inner-submenu {
        position: static;
    }

    /* .inner-submenu {
        
    } */

    .submenu-pyjamas {
        height: 200px;
    }

    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: flex;
        align-items: center;
    }


    /* slogan */

    .slogan-container {
        background-position: center center;
        padding: 100px 0;
    }

    .slogan__title {
        font-size: 24px;
        line-height: 2;
        width: 50%;
    }

    .slogan__btns {
        flex-direction: column;
        padding: 0;
    }

    .catalog__link {
        width: 280px;
    }

    /* about */

    .line-container {
        width: 100%;
    }

    .about-container {
        flex-direction: column;
    }

    .about__left {
        align-items: center;
    }

    .about__title {
        font-size: 64px;
        padding: 0;
    }

    .line-with-circle {
        width: 350px;
    }

    .about__text {
        font-size: 22px;
        width: 80%px;
    }

    .italic {
        font-size: 20px;
    }

    .about-text {
        width: 80%;
    }

    .about-pic {
        width: 80%;
    }

    .about__left {
        margin-bottom: 20px;
    }

    /* cards */

    .cards-container {
        align-items: center;
        gap: 20px;
        padding: 68px 45px;
        flex-wrap: wrap;
    }

    .card__title {
        font-size: 18px;
        width: 155px;
    }

    .price {
        font-size: 22px;
    }

    .card__btn {
        font-size: 16px;
        padding: 10px 45px;
        margin-bottom: 20px;
    }

    .card__pic {
        width: 200px;
        height: 270px;
    }

    /* show */

    .show-container {
        padding: 0;
        flex-direction: column;
    }

    .show__btn {
        font-size: 15px;
        padding: 10px 50px;
        margin-bottom: 20px;
    }

    /* feedback */

    .feedback-container {
        padding-top: 64px;
    }

    .feedback__title {
        font-size: 64px;
    }

    .line-with-circles {
        width: 60%;
    }

    .slider-container {
        padding: 0 50px;
    }


    /* footer */

    .footer-container {
        background-position: center;
    }

    .footer__title {
        font-size: 60px;
    }

    .contact__info {
        flex-direction: column;
    }

    .footer__text {
        width: 240px;
    }

    .contact__info {
        padding-bottom: 70px;
    }

    .contact__item p {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .container::before,
    .container::after {
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      width: 2px; 
      background-color: #565C45;
    }
    
    .container::before {
      left: 20px; 
    }
    
    .container::after {
      right: 20px; 
    }

    .nav {
        padding: 15px 30px;
    }

    .header__logo {
        margin-right: 20px;
    }
    
    .header__container {
      padding: 0;
    }

    .nav__list {
        width: 65%;
    }

    .nav__right {
        margin-left: 20px;
    }

    /* .inner-submenu {
        
    } */

    .submenu-pyjamas {
        height: 200px;
    }



    /* slogan */

    .slogan-container {
        background-position: center center;
        padding: 100px 50px;
    }

    .slogan__title {
        font-size: 24px;
        line-height: 2;
        width: 40%;
    }

    .slogan__btns {

        padding: 0;
    }

    .catalog__link {
        width: 280px;
    }

    /* about */

    .line-container {
        width: 100%;
    }

    /* .about-container {
        flex-direction: column;
    } */

    .about__left {
        align-items: center;
        width: 60%;
        margin-bottom: 20px;
    }

    .about__title {
        font-size: 64px;
        padding: 0;
    }

    .line-with-circle {
        width: 800px;
    }

    .about__text {
        font-size: 22px;
        width: 100%;
    }

    .italic {
        font-size: 20px;
    }

    .about-text {
        width: 80%;
    }

    .about-pic {
        width: 100%;
    }

    /* cards */

    .cards-container {
        align-items: center;
        gap: 20px;
        padding: 68px 45px;
        flex-wrap: wrap;
    }

    .card__title {
        font-size: 20px;
        width: 100%;
    }

    .price {
        font-size: 24px;
    }

    .card__btn {
        font-size: 16px;
        padding: 15px 55px;
        margin-bottom: 20px;
    }

    .card__pic {
        width: 220px;
        height: 310px;
    }

    /* show */

    .show-container {
        padding: 0;
    }

    .show__btn {
        font-size: 16px;
        padding: 20px 80px;
        margin-bottom: 20px;
    }

    /* feedback */

    .feedback-container {
        padding-top: 64px;
    }

    .feedback__title {
        font-size: 64px;
    }

    .line-with-circles {
        width: 60%;
    }

    .slider-container {
        padding: 0 50px;
    }


    /* footer */

    .footer-container {
        background-position: center;
    }

    .footer__title {
        font-size: 60px;
    }

    .footer__text {
        width: 500px;
    }

    .contact__info {
        padding-bottom: 70px;
    }

    .contact__item p {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1600px) {

    .container::before,
    .container::after {
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      width: 2px; 
      background-color: #565C45;
    }
    
    .container::before {
      left: 20px; 
    }
    
    .container::after {
      right: 20px; 
    }

    .nav {
        padding: 15px 30px;
    }

    .header__logo {
        margin-right: 20px;
    }
    
    .header__container {
      padding: 0;
    }

    .nav__list {
        width: 65%;
    }

    .nav__right {
        margin-left: 20px;
    }

    /* .inner-submenu {
        
    } */

    .submenu-pyjamas {
        height: 200px;
    }



    /* slogan */

    .slogan-container {
        background-position: center center;
        padding: 100px 50px;
    }

    .slogan__title {
        font-size: 36px;
        line-height: 2;
        width: 50%;
    }

    .slogan__btns {

        padding: 0;
    }

    .catalog__link {
        width: 280px;
    }

    /* about */

    .line-container {
        width: 100%;
    }

    /* .about-container {
        flex-direction: column;
    } */

    .about__left {
        align-items: center;
        width: 60%;
        margin-bottom: 20px;
    }

    .about__title {
        font-size: 64px;
        padding: 0;
    }

    .line-with-circle {
        width: 800px;
    }

    .about__text {
        font-size: 22px;
        width: 100%;
    }

    .italic {
        font-size: 20px;
    }

    .about-text {
        width: 80%;
    }

    .about-pic {
        width: 100%;
    }

    /* cards */

    .cards-container {
        align-items: center;
        gap: 20px;
        padding: 68px 45px;
        flex-wrap: wrap;
    }

    .card__title {
        font-size: 20px;
        width: 100%;
    }

    .price {
        font-size: 24px;
    }

    .card__btn {
        font-size: 16px;
        padding: 15px 55px;
        margin-bottom: 20px;
    }

    .card__pic {
        width: 220px;
        height: 310px;
    }

    /* show */

    .show-container {
        padding: 0;
    }

    .show__btn {
        font-size: 16px;
        padding: 20px 80px;
        margin-bottom: 20px;
    }

    /* feedback */

    .feedback-container {
        padding-top: 64px;
    }

    .feedback__title {
        font-size: 64px;
    }

    .line-with-circles {
        width: 60%;
    }

    .slider-container {
        padding: 0 50px;
    }


    /* footer */

    .footer-container {
        background-position: center;
    }

    .footer__title {
        font-size: 60px;
    }

    .footer__text {
        width: 500px;
    }

    .contact__info {
        padding-bottom: 70px;
    }

    .contact__item p {
        margin-bottom: 50px;
    }
}





